body {
    background-color: #3F72AF;
    }

    h1 {
        color: #DBE2EF;
        text-align: center;
        }

.center-text {
text-align: center;
color: #DBE2EF;
}


        img {
            display: block;
            margin: auto;
            border-radius: 50%;
        }

        .card1 {
            border-style: solid; color: #DBE2EF; 
            text-align: left;   
            border-radius: 10px;
            padding: 5px;
        }

        .card2 {
            border-style: solid; color: #DBE2EF; 
            text-align: left;   
            border-radius: 10px;
            padding: 5px;
        }
        .card3 {
            border-style: solid; color: #DBE2EF; 
            text-align: left;   
            border-radius: 10px;
            padding: 5px;
        }

        .linkedin {
            text-align: center;
            color: #DBE2EF;
        }